#ctb_title{
	float:left;
	width:15%;
	font-weight:bold;
	height:40px;
}
#ctb_input{
	width:85%;
	height:40px;
}
#loop_r{
	float:left;
	width:100%;
}
div#twtr-widget-1.twtr-widget div.twtr-doc div.twtr-hd h3{
	letter-spacing:1px;
	position:absolute;
}
div#twtr-widget-1.twtr-widget div.twtr-doc div.twtr-hd h4{
	position:absolute;
}
div#twtr-widget-1.twtr-widget div.twtr-doc div.twtr-hd h4 a{
	text-decoration:none;
}